#header {
	margin: 0 auto;
	max-width: 600px;
}
#header h1 {
	font-size: 1.4rem;
	line-height: 1.25;
	text-align: center;
}

#header .highlight {
	color: var(--blue01);
}

@media only screen and (min-width: 500px) {
	#header h1 {
		font-size: 1.5rem;
	}
}