#map {
	position: relative;
}
#map .prov {
	fill: #3C76B0;
	stroke: #FFF;
	stroke-width: 2px;
}

#map .label {
	alignment-baseline: central;
	fill: #FFF;
	font: bold 0.75rem sans-serif;
	pointer-events: none;
	text-anchor: middle;
}

#map .legend {
	bottom: 5px;
	position: absolute;
	left: 5px;
	width: 100px;
	z-index: 10;
}
#map .legend-title {
	font-family: BentonSansCond-Bold;
	font-size: 0.9rem;

}
#map .legend-fill {
	background: linear-gradient(to right, #D1D2D4 10%, #D4DAEA 20%, #AFBEDB 40%, #829DC7 60%, #3C76B0 80%, #0062A3 100%);
	height: 15px;
}
#map .legend-value {
	font-family: BentonSansCond-Regular;
	font-size: 0.8rem;
}

#map .legend-value-left {
	float: left;
}
#map .legend-value-right {
	float: right;
}

@media only screen and (min-width: 500px) {
   	#app .label {
		font: bold 1rem sans-serif;
	}
}