.flourish-popup {
	max-width: 255px;
}
.flourish-popup p,
.flourish-popup h4 {
	font-family: BentonSansCond-Regular;
    margin-block-start: 0;
    margin-block-end: 0;
	margin-bottom: 3px;
}

.flourish-popup h4 {
	font-family: BentonSansCond-Bold;
}

.green {
	color: var(--green01);
	font-family: BentonSansCond-Bold;
}